@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.titulo {
    font-family: 'Ingrid Darling', cursive;
    color: #FF33C6;
    font-size: 80px;
}

.titulo:hover {
    color: #FF33C6;
}


body {
    background-color: black;
}

nav {
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

.linea-rosa {
    width: 100%;
    height: 5px;
    background-color: #FF33C6;
}

.present {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    font-size: 100%;
}

.present.p {
    text-align: center;
    margin-left: 3hv;
}
.rosita {
    color: #FF33C6;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}

.titulo-pag {
    margin-top: 10%;
}

.btn-pink {
    background-color: #FF33C6;
}

@media screen and (min-width: 600px) {

    .titulo {
        width: 100%;
    }
}